.header {
  width: 101%;
  height: 90px;
  margin-top: -150px;
  background-color: #002a5a;
  position: fixed;
}

.header .logo {
  max-height: 50px;
  width: auto;
  transform: translate(0, -50%);
  position: absolute;
  left: 2.5%;
  top: 50%;
}

.header .red-line {
  width: 100%;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: -4px;
}
