.sidebar {
  background-color: white;
  border-right: 1px solid #D0D0D7; 
  height: 100%;
  width: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  float: left;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
  z-index: -1;
}

.sidebar .material-icons {
  margin: 10px;
}
